.App {
  text-align: center;
  min-height: 100vh;
  background-color: #9381FF;
  padding: 5em;
}

.productContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1em;
}